.container {
  padding: 1.5rem;
  max-width: 100%;
  background-color: #eeeffa;
  border-radius: 8px;
}

.subContainer {
  max-width: 1200px;
  margin: 2rem auto;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 1rem;
  color: #333;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fcfcff;
  padding: 1rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.audioPlayer {
  width: 100%;
  margin-top: 0.5rem;
}

.noData {
  text-align: center;
  color: #888;
  font-size: 1rem;
}

.spinner {
  width: 100%;
  text-align: center;
}
